@import-normalize;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Droid-Sans';
  src: url('./fonts/DroidSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Arial';
  src: url('./fonts/ArialMT.ttf');
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
